#DATABASES
book_data.csv
book_data_sample.csv
review_data_sample.csv
review_data.csv

review_id_data.csv
sub_feat_all.csv

#MODELING OUTPUT
coefficient_df.csv

#DOCUMENTATION
scraper_one_pager_diagram.pptx
final_paper.docx

#CACHE FILES
*.pyc
*-checkpoint.ipynb
